:root{
    --cor--button-menu: #F2F2F2;
    --preto: #000000;
    --borda--geral: #00000030;
    --fundo--tabela: #FFFFFF;
    --cor--busca: #020202;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 40px;
    width: 100%;
}
.box{
    height: 200px;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid var(--borda--geral);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box p{
    margin: 0;
    font-size: 18px;
}
.box strong{
    font-size: 16px;
}
#box_unidades{
    background-color: #E8EDFD;
}
#box_pedido{
    background-color: #FF6363;
}
#box_produto{
    background-color: #FFECCB;
}
#box_Fornecedores{
    background-color: #9AD0FF;
}
#grafico_container {
    margin-top: 60px;
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
}
#graficoInsumos {
    width: 100%;
    max-height: 4400px;
}