*{
    margin: 0;
    padding: 0;

}
:root{
    --cor-menu: #8F9BBF;
    --cor--button-menu: #F2F2F2;
    --cor--card-classe: #F2F2F2;
    --preto: #000000;
    --borda--geral: #00000030;
    --fundo--tabela: #FFFFFF;
    --cor--busca: #F6F8FF;
    --cor--icone: #0E2773;
}
body{
    margin: 0;
    display: flex;
}
input {
    background: url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat 10px center;
    background-size: 16px;
    padding-left: 35px;
}
/* inicio menu lateral */
aside{
    background-color:var(--cor-menu);
    display: flex;
    width: 200px;
    min-height: 98vh;
    flex-direction: column;
    padding: 10px;

    /* deixando o "aside" fixo */
    position:fixed;
}
aside img{
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
    max-width: 150px;
    max-height: 150px;
}
aside .sidebar{
    display: flex;
    justify-content: center;
    margin:10px auto;
}
aside .menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
aside .menu a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 190px;
    height: 50px;
    padding-left: 20px;
    border-radius: 15px;
    border: 1px solid transparent;
    text-decoration: none;
    color: var(--preto);
    box-sizing: border-box;
}

aside .menu a i{
    width: 20px;
    text-align: center;
    color: var(--cor--icone);
}

/* fim menu lateral */

/* inicio do main */
main {
    margin-left: 220px; /* espaço definido para que o "main" não fique abaixo do "aside" */
    flex: 1; 
    padding: 60px 30px;
    background-color: #E0E0E0;
    min-height: 100vh;
}
/* fim do main*/

/*footer*/
.footer{
    display: flex;
    margin-top: auto;
    justify-content: center;
    gap: 20px;
}
/*footer*/

/* efeitos */
aside .menu a:hover{
    background-color: var(--cor--button-menu);
    border: 1px solid var(--preto);
    transition: 0.2s;
}
/* efeitos */
